<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <%= link_to "about that shit", about_path%>
      <%= link_to "home that shit", root_path%>
      <%= link_to "yoyo that shit", yoyo_path%>
      <%= yield %>

</body>
</html>
